<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data[0].name %></title>
  </head>
  <body>
    <h1><%= data[0].name %></h1>

    <h2>Birth date: <%= data[0].birth_date %></h2>
    <h2>Books written:</h2>
    <ul>
      <% data.forEach((current)=>{ %>
      <li><a href="/books/<%= current.id %>"><%= current.title %></a></li>
      <%}) %>
    </ul>
    <% console.log(data,data[0],"THAT WAS DATA") %>
    <a href="/edit/authors/<%= data[0].author_id %>">Edit information</a>
  </body>
</html>
