<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data[0].name %></title>
  </head>
  <body>
    <h1><%= data[0].name %></h1>
    <h2>Books in this genre:</h2>
    <ul>
      <% data.forEach((current)=>{ %>
      <li><a href="/books/<%= current.book_id %>"><%= current.title %></a></li>
      <% }) %>

    </ul>
    <a href="/edit/genres/<%= data[0].name %>">Edit this genre</a>
  </body>
</html>
